.container {
    display: flex;
    flex-direction: column;
}
.hero {
    display: flex;
    flex-direction: column;
    padding: 10px 250px 100px 250px;
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
}

.header-logo {
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    align-items: center;
}

.header-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 25px;
   }

.header-links li {
    text-decoration: none;
    list-style: none;
    align-items: center;
}

.header-links li a {
    text-decoration: none;
    color: #E5E7EB;
    padding: 25px;
    align-items: center;
    font-size: 18px;;
}

.description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    padding-top:50px;
}

.des-text {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.des-text h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.des-text p {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up {
    align-self: flex-start;
    color: #F9FAF8;
    background-color: #3882F6;
    font-size: 18px;
    border-radius: 8px;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 100px 250px 100px 250px;
}

.info-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img {
    height: 200px;
    width: 200px;
}

.info-icons {
    display: flex;
    justify-content: center;
}

.icon {
    max-width: 300px;
    text-align: center;
    font-size: 18px;
    color: #1F2937;
    padding: 50px 15px 15px 0px;
}

.quote {
    display:flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px 500px 100px 500px;
}

.quote-text {
    display: flex;
    justify-content: center;
}

.quote-text p {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color:#1F2937
}

.quote-author {
    display: flex;
    justify-content: flex-end;
}

.quote-author p {
    font-size: 24px;
    font-weight: bold;
    color:#1F2937;
}

.action-box {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #3882F6;
    margin: 100px 250px 100px 250px;
    border-radius: 8px;
    padding: 50px 100px 50px 100px;
}

.large {
    font-size: 24px;
    color: #E5E7EB;
    font-weight: bold;
    margin-bottom: -15px;
}

.small {
    font-size: 18px;
    color: #E5E7EB;
    padding-top: -10px;
    
}

.action-signup {
    align-self: center;
    border-color: #E5E7EB;
    border-radius: 8px;
    border-width: 5px;
    background-color: #3882F6;
    color:#E5E7EB;
    font-size: 24px;
    font-weight: bold;
}
