.header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    justify-content: flex-start;
    height: 35px;
}

.header-links {
    display: flex;
    justify-content: flex-end;
}

.header-links li {
    text-decoration: none;
    list-style: none;
}